body {
	font-family: 'Lato', sans-serif;
	text-align: center;
  background-color: #FF573E;
  animation: colorchange 20s;
  animation-iteration-count: 300;
  -webkit-animation: colorchange 20s; 
  -webkit-animation-iteration-count: 300;
}
   @keyframes colorchange
    {
      0%   {background: #ACF39D;}
      25%  {background: #E85F5C;}
      50%  {background: #9CFFFA;}
      75%  {background: #773344;}
      100% {background: #E3B5A4;}
    }
    @-webkit-keyframes colorchange 
    {
      0%   {background: red;}
      25%  {background: yellow;}
      50%  {background: blue;}
      75%  {background: green;}
      100% {background: red;}
      
	}


#quiz {
	margin-left: 10px;
	background: #d2def2;
	padding: 10px 20px 10px 20px;
	width: 400px;
	border-radius: 20px;
	margin-left: 520px;
	text-align: center;
}

input {
	margin-bottom: 20px;
	display: block;
}

#textbox {
	height: 25px;
	font-size: 16px;
	border-radius: 5px;
	border: none;
	padding-left: 5px;
	margin-left: 100px;
}


#button {
	background: green;
	border: none;
	border-radius: 5px;
	padding: 10px;
	color: white;
	font-size: 16px;
	transition-duration: .5s;
	margin-top: 15px;
}



#button:hover {
	background: white;
	border: 1px solid green;
	color: black;
	cursor: pointer;

}

#after_submit {
	visibility: hidden;
	background: red;
	padding: 10px 20px 10px 20px;
	width: 400px;
	border-radius: 20px;
	float: left;
	margin-left: 520px;
	font-size: 30px;


}
#mc {
	display: inline;
} 